<!--The content below is only a placeholder and can be replaced.-->
<mz-navbar>
  <a routerLink="/" class="brand-logo">Graphisios</a>
  <mz-navbar-item-container [align]="'right'">
    <mz-navbar-item><a routerLink="/">Home</a></mz-navbar-item>
    <mz-navbar-item><a routerLink="/temp-graphs">Temp Graphs</a></mz-navbar-item>
    <mz-navbar-item><a routerLink="/temp-faker">Temp Faker</a></mz-navbar-item>
  </mz-navbar-item-container>
</mz-navbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
